
.icon-reddit:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-attach:before { content: '\e806'; } /* '' */
.icon-quora:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-stackoverflow:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-calendar-1:before { content: '\e80c'; } /* '' */
.icon-clipboard:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e80f'; } /* '' */
.icon-heart-1:before { content: '\e810'; } /* '' */
.icon-email:before { content: '\e811'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-phone-circled:before { content: '\e813'; } /* '' */
.icon-moon:before { content: '\e814'; } /* '' */
.icon-sun:before { content: '\e815'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */