body{
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  background: var(--Blue);
}

#Main{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#contentWrapper{
  background: var(--White);
  border-radius: 20px;
  margin: 2vw;
}

#postCover{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#postCover:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--Black);
  opacity: 0.1;
}
#coverImg{
  position: relative;
  width: 100%;
  height: auto;
}
#article{
  padding: 20px 3vw;
}
#postHeading{
  font-size: var(--fontLarge);
}

.metaInfo{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
#meta_author{
  display: inline-flex;
  align-items: center;
}
#author_avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#author_name{
  font-size: var(--fontSmall);
  margin-left: 5px;
  cursor: pointer;
}