@font-face{
	font-family: "Rubik";
	src: url('Rubik.ttf');
}
body {
	margin: 0;
	padding: 0;
}
:root{
	--Blue: #2C45A3;
	--Yellow: #FF9200;
	--Cyan: #00FFFF;
	--Black: #15202B;
	--Red: #FE2C55;
	--Purple: #7D3CFF;
	--SandTan: #E1B382;
	--White: #F2F2F2;
	--Niagara: #03A87C;
	--LightDark: #717272;
	--Shaft: #292929;
	--ForeGround: #aaa;
	--fontPrimary: 21px;
	--fontLarge: 40px;
	--fontSmall: 16px;
	--fontTiny: 13px;

	font-family: Rubik, sans-serif, monospace;
	color: var(--Shaft);
}
@media only screen and (mix-width: 950px){
	:root{
		--fontLarge: 28px;
	}
}

@media only screen and (mix-width: 720px){
	:root{
		--fontLarge: 21px;
		--fontSmall: 16px;
		--fontPrimay: 18px;
	}
}
@media only screen and (mix-width: 480px){
	:root{
		--fontLarge: 18px;
		--fontPrimary: 14px;
		--fontSmall: 12px;
		--fontTiny: 12px;
	}
}
.tag{
	background: var(--Yellow);
	color: var(--White);
	text-decoration: none;
	padding: 2px 7px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid var(--Yellow);
	transition-property: background;
	transition-duration: .4s;
	display: inline-block;
	font-size: var(--fontTiny);
  }
  .tag:hover,
  .tag:focus{
	background: var(--White);
	color: var(--Yellow);
  }